.history-right-column {
    background-color: #fff;
    height: 566px;
}
.list-group-item.active {
    background-color: #bf40bf;
    border-color: #bf40bf;
}
.history-page .remove {
    position: absolute;
    top: 10px;
    right: 13px;
    color: #2c3131c7;
    cursor: pointer;
}
@media (max-width: 767px) {
    .card .card-horizontal .card-icon img {
        width: 100%;
    }
    .card .card-horizontal .fa-play {
        right: 48%;
    }
    
}
@media (min-width: 767px) and (max-width: 1199px) {
    .card .card-horizontal .card-body .channel-img {
        display: block;
        margin-top: 10px;
    }
    .card .card-horizontal .card-body .channel-img>img {
        margin-right: 0px !important;
    }
}